<!doctype html>
<html>
    <head>
        
        <link rel="stylesheet" href = "../static/style.css" type= "text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" href="data:,">

        <div class="container">
      
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/blog">Blogz</a></li>
                  <li><a href="/newpost">Add a Post</a></li>
                  <li><a href="/logout">Logout</a></li>        
                </ul>
              </div>
        <title>{{title}}</title>
    </head>
<body>

    
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    
    {% endblock %}

</body>	
</html>