<!doctype html>
<html>
    <head>
        <style>
            .error {
                color: red;
            }

            div { 
                display:inline-block;
                margin-right: 50px
            }

            a{
                display: inline-block;
                margin-right: 15px
            }

        </style>
        <link rel ="stylesheet" href = "style/style.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" href="data:,">

        <nav class = "navbar navbar-default">
            <div class="container-fluid">
                <div class ="navbar-header">
                        <a class="navbar-brand" href = "/">Home</a>
                </div>
                <ul class= "nav navbar-nav"> 
                    <a href = "/login">Login</a>
                    <a href = "/blog">Blogz</a>
                    <a href = '/newpost'>Add a Blog</a>
                    <a href='/logout'>Log Out</a>
                </ul>
            </div>    
        </nav>  
        <title>{{title}}</title>
    </head>
<body>

    
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    
    {% endblock %}

</body>	
</html>